@import "./variables";

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.accordion-section {
    .text-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        .btn {
            margin-top: 20px;
        }
    }
    .container {
        column-gap: 40px;
        color: $white;
        counter-reset: item;
        display: flex;
        flex-direction: column;
        column-gap: 40px;
        .accordion-item {
            flex: 1;
            margin: 0 auto;
            position: relative;
            width: 100%;
            padding: 40px 10px;
            cursor: pointer;
            &::before {
                position: absolute;
                display: inline-block;
                top: 44px;
                left: 10px;
                content: counter(item, decimal-leading-zero);
                counter-increment: item;
                font-size: 16px;
                font-weight: 500;
                padding: 12px;
                background-color: $black-12;
                border: 1px solid $black-15;
                border-radius: 10px;
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                height: 1px;
                bottom: 0;
                left: 0; right: 0;
                background: linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 17%, rgba(229,0,0,0) 100%);;
            }
            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 44px;
                overflow-x: visible;
                h3 {
                    padding-left: 62px;
                }
                svg {
                    min-width: 24px;
                }
            }
            &:not(.active) .question {
                min-height: 44px;
            }
            .answer {
                p {
                    padding-top: 20px;
                }
            }
        }
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.accordion-item.active .answer {
    max-height: 300px;
    transition: all 2s ease;
    animation: fade 1s ease-in-out;
}

@media screen and (min-width:769px) { 

}

@media screen and (min-width: 1024px) {
    .accordion-section {
        .container {
            flex-direction: row;
            .accordion-item {
                margin: 0 auto;
                position: relative;
                max-width: 750px;
                padding: 24px 24px 24px 90px;
                &::before {
                    top: 24px;
                    left: 24px;
                    padding: 16px;
                }
                .question {
                    transition: all ease-in-out .5s;
                    min-height: 30px;
                    h3 {
                        padding-left: 0;
                    }
                }
                &:not(.active) .question {
                    transition: all ease-in-out .5s;
                    min-height: 54px;
                }
                .answer {
                    p {
                        padding-top: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:769px) { 
    .accordion-section {
        .container {
            .accordion-item {
                .question {
                    h3 {
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1541px) {
    .accordion-section {
        .container {
            column-gap: 80px;
        }
    }
}

@media screen and (min-width:1900px) {
    .accordion-section {
        .container {
            .accordion-item {
                margin: 0 auto;
                position: relative;
                max-width: 750px;
                padding: 34px 34px 34px 116px;
                &::before {
                    top: 34px;
                    left: 34px;
                    padding: 20px;
                    font-size: 20px;
                }
                &:not(.active) .question {
                    min-height: 67px;
                }
                .answer {
                    p {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}