@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./navbar";
@import "./variables";
@import "./swiper";
@import "./devices";
@import "./accordion";
@import "./subscription";
@import "./form";
@import "./footer";

.vh {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
select,
.toggle {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: "Manrope", "Poppins", sans-serif;
    background-color: $black-08;
}

h1 {
    font-weight: bold;
    line-height: 150%;
    color: $white;
    &.h1-48,
    &.h1-58 {
        font-size: 28px;
    }
    &.h1-38 {
        font-size: 24px;
    }
    &.h1-58 {
        text-align: center;
    }
}


h2 {
    font-size: 20px;
    color: $white;
    line-height: 150%;
    font-weight: bold;
}

h3 {
    color: $white;
    font-weight: 600;
    line-height: 150%;
    font-size: 18px;
}

h4 {
    line-height: 150%;
    font-size: 14px;
}

h5 {
    line-height: 150%;
    font-size: 16px;
}


p {
    line-height: 150%;
    color: $grey-60;
}

.content-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-wrapper:not(nav) {
    margin-bottom: 50px;
}

.font-size {
    font-size: 1.4rem;;
}

.btn {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    padding: 14px 24px;
    transition: all linear .3s;
    user-select: none;
    line-height: 150%;
    &:hover {
        filter: brightness(.9);
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(2px);
    }
}

.btn-primary {
    background-color: $red-45;
    color: $white;
    font-weight: 600;
}

.btn-secondary {
    background-color: $black-06;
    border: 1px solid $black-15;
    color: $white;
}

.btn-icon {
    padding-left: 50px;
    > span {
        position: relative;
        &::before {
            content:"";
            display: block;
            width: 28px;
            height: 28px;
            background: url(../images/icons-sprite.png) -10px -58px;
            position: absolute;
            left: -32px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.text-content {
    p {
        margin-top: 8px;
    }
    &:not(:has(h1)) {
        margin-bottom: 40px;
    }
}

.md-screen {
    display: none;
}

.jumbotron {
    position: relative;
    padding-top: 400px;
    z-index: 1;
    min-height: 640px;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    &::after {
        content: "";
        background: url(../images/abstract-sm.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        top: 150px;
        left: 50%;
        transform: translate(-50%);
        width: 200px;
        height: 200px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .btn {
            margin-top: 30px;
        }
        p {
            text-align: center;
            width: 100%;
        }
    }
    margin-bottom: 100px;
}

.icon-md {
    display: none;
}

.icon-lg {
    display: none;
}

@media screen and (min-width:769px) { 
    .content-wrapper:not(nav) {
        margin-bottom: 120px;
    }    
    .jumbotron {
        padding-top: 550px;
        margin-bottom: 150px;
        &::after {
            background: url(../images/abstract-md.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: 200px;
            width: 300px;
            height: 300px;
        }
        .content-wrapper {
            padding-bottom: 40px;
            .btn {
                margin-top: 40px;
            }
            p {
                max-width: 1140px;
            }
        }
    }
    h1 {
        &.h1-38 {
            font-size: 30px;
        }
        &.h1-48 {
            font-size: 38px;
        }
        &.h1-58 {
            font-size: 48px;
        }
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h4 {
        font-size: 18px;
    }
    .md-screen {
        display: inline;
    }
    .icon-md {
        display: block;
    }
    .icon-sm {
        display: none;
    }
    .text-content {
        p {
            margin-top: 10px;
        }
        &:not(:has(h1)) {
            margin-bottom: 60px;
        }
    }
}

@media screen and (min-width:1024px) {
    .full-height {
        padding-bottom: 415px;
    }    
}

@media screen and (min-width:1541px) {
    .content-wrapper {
        max-width: 1600px;
        &:not(nav) {
            margin-bottom: 150px;
        }  
    }
    .font-size {
        font-size: 1.8rem;;
    }
    .text-content {
        p {
            margin-top: 14px;
        }
        &:not(:has(h1)) {
            margin-bottom: 80px;
        }
    }
    h1 {
        &.h1-38 {
            font-size: 38px;
        }
        &.h1-48 {
            font-size: 48px;
        }
        &.h1-58 {
            font-size: 58px;
        }
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 20px;
    }
    p {
        max-width: 1096px;
    }
    .btn {
        padding: 18px 24px;
    }
    .btn-icon {
        padding-left: 56px;
    }
    .full-height {
        padding-bottom: 500px;
    }    
}

@media screen and (min-width:1900px) {
    .jumbotron {
        padding-top: 730px;
        margin-bottom: 200px;
        &::after {
            width: 470px;
            height: 470px;
            background: url(../images/abstract.png);
        }
        .content-wrapper {
            padding-bottom: 50px;
            .btn {
                margin-top: 50px;
            }
            p {
                text-align: center;
                width: 100%;
                max-width: 1096px;
            }
        }
    }
    .icon-lg {
        display: block;
    }
    .icon-md {
        display: none;
    }
}