@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
header.scrolled {
  background-color: #141414;
}

.nav {
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 16px;
}
.nav.openSearch .search {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.nav.openSearch .nav-links {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav .nav-links {
  position: absolute;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  right: 16px;
  top: 80px;
  row-gap: 20px;
  list-style: none;
  background-color: #0F0F0F;
  padding: 10px;
  border-radius: 12px;
  border: 4px solid #1F1F1F;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.nav .nav-links.nav-active {
  opacity: 1;
  visibility: visible;
}
.nav .nav-links.nav-active a {
  pointer-events: all;
}
.nav .nav-links li {
  width: 100%;
}
.nav .nav-links a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  padding: 20px 20px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}
.nav .nav-links a.active {
  background-color: #1A1A1A;
  color: #fff;
}
.nav .search {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 95%;
  max-width: 1000px;
  height: 74px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F0F0F;
  border: 4px solid #1F1F1F;
  padding: 10px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.nav .search input {
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  color: #fff;
  padding: 14px 24px 14px 40px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.nav .search .icon {
  position: absolute;
  left: 15px;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav .logo {
  width: 115px;
  max-height: 60px;
}
.nav .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.nav .icon {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav .burger {
  background-color: #1A1A1A;
  border: #262626 solid 3px;
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .nav .controls {
    width: 165px;
  }
  .nav .logo {
    width: 165px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    top: 0;
  }
  .nav .nav-center {
    position: relative;
  }
  .nav .nav-links {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
    max-width: 1000px;
    width: auto;
    opacity: 1;
    visibility: visible;
  }
  .nav .nav-links li {
    width: auto;
  }
  .nav .nav-links li a {
    padding: 12px 20px;
    width: auto;
    pointer-events: all;
  }
  .nav .search {
    position: absolute;
    right: 50%;
    top: auto;
    -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
    width: 100%;
    max-width: 650px;
  }
  .nav .burger {
    display: none;
  }
}
@media screen and (min-width: 1541px) {
  .nav {
    padding: 22px 16px;
  }
  .nav .logo {
    width: 200px;
  }
  .nav .controls {
    width: 200px;
  }
  .nav .nav-links li a {
    padding: 14px 24px;
  }
}
:root {
  --swiper-theme-color: #e50000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: auto;
  --swiper-navigation-top-offset: 0;
  --swiper-navigation-sides-offset: 0;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: #333;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1.5px;
  --swiper-scrollbar-border-radius: 20px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: auto;
  --swiper-scrollbar-sides-offset: 155px;
  --swiper-scrollbar-bg-color: #333;
  --swiper-scrollbar-drag-bg-color: #e50000;
  --swiper-scrollbar-size: 5px;
}

.highlight {
  color: #bfbfbf;
}

.sm-btn {
  position: relative;
  cursor: pointer;
  padding: 10px;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sm-btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.sm-btn:active {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.sm-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  display: block;
  background: url("../images/icons-sprite.png");
}

.sm-btn-light {
  background-color: #1A1A1A;
  border: 1px solid #1F1F1F;
}

.sm-btn-dark {
  background-color: #0F0F0F;
  border: 1px solid #262626;
}

.add-btn::after {
  background-position: -54px -106px;
}

.like-btn::after {
  background-position: -156px -54px;
}

.sound-btn::after {
  background-position: -156px -98px;
}

.swiper-section .content-wrapper {
  padding-right: 0;
}

.tag-section.content-wrapper {
  padding-right: 0;
}

.swiper .controls,
.swiperFour .controls {
  position: absolute;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 16px;
  background-color: #0F0F0F;
  border: 1px solid #1F1F1F;
  border-radius: 12px;
}

.swiper,
.swiper-jumbo,
.swiperFour {
  overflow-x: hidden;
}
.swiper .swiper-wrapper,
.swiper-jumbo .swiper-wrapper,
.swiperFour .swiper-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.swiper .swiper-top,
.swiper-jumbo .swiper-top,
.swiperFour .swiper-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.swiper .swiper-top .text-content,
.swiper-jumbo .swiper-top .text-content,
.swiperFour .swiper-top .text-content {
  padding-right: 16px;
}
.swiper .swiper-button-prev,
.swiper-jumbo .swiper-button-prev,
.swiperFour .swiper-button-prev {
  position: relative;
  margin-top: 0;
}
.swiper .swiper-button-prev::after,
.swiper-jumbo .swiper-button-prev::after,
.swiperFour .swiper-button-prev::after {
  background-position: -98px -106px;
}
.swiper .swiper-button-next,
.swiper-jumbo .swiper-button-next,
.swiperFour .swiper-button-next {
  margin-top: 0;
  position: relative;
}
.swiper .swiper-button-next::after,
.swiper-jumbo .swiper-button-next::after,
.swiperFour .swiper-button-next::after {
  background-position: -156px -10px;
}
.swiper .container-pagination,
.swiper-jumbo .container-pagination,
.swiperFour .container-pagination {
  width: 83px;
}
.swiper .swiper-pagination,
.swiper-jumbo .swiper-pagination,
.swiperFour .swiper-pagination {
  position: relative;
  width: 100% !important;
}
.swiper .swiper-pagination .swiper-pagination-bullet,
.swiper-jumbo .swiper-pagination .swiper-pagination-bullet,
.swiperFour .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  border-radius: 100px;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active,
.swiper-jumbo .swiper-pagination .swiper-pagination-bullet-active,
.swiperFour .swiper-pagination .swiper-pagination-bullet-active {
  width: 23px;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.swiper .solo-card,
.swiper-jumbo .solo-card,
.swiperFour .solo-card {
  max-width: 295px;
}
.swiper .solo-card .image-wrapper,
.swiper-jumbo .solo-card .image-wrapper,
.swiperFour .solo-card .image-wrapper {
  aspect-ratio: 22/25;
}
.swiper .lg-card .image-wrapper,
.swiper-jumbo .lg-card .image-wrapper,
.swiperFour .lg-card .image-wrapper {
  aspect-ratio: 20/25;
}
.swiper .solo-card,
.swiper .lg-card,
.swiper-jumbo .solo-card,
.swiper-jumbo .lg-card,
.swiperFour .solo-card,
.swiperFour .lg-card {
  height: 100%;
  font-weight: 500;
  padding: 12px;
  background-color: #1A1A1A;
  border-radius: 12px;
  border: 1px solid #262626;
}
.swiper .solo-card a,
.swiper .lg-card a,
.swiper-jumbo .solo-card a,
.swiper-jumbo .lg-card a,
.swiperFour .solo-card a,
.swiperFour .lg-card a {
  text-decoration: none;
  color: inherit;
}
.swiper .solo-card .caption,
.swiper .lg-card .caption,
.swiper-jumbo .solo-card .caption,
.swiper-jumbo .lg-card .caption,
.swiperFour .solo-card .caption,
.swiperFour .lg-card .caption {
  font-size: 12px;
  margin-top: 12px;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper .solo-card .caption > div:not(.full-width-caption),
.swiper .lg-card .caption > div:not(.full-width-caption),
.swiper-jumbo .solo-card .caption > div:not(.full-width-caption),
.swiper-jumbo .lg-card .caption > div:not(.full-width-caption),
.swiperFour .solo-card .caption > div:not(.full-width-caption),
.swiperFour .lg-card .caption > div:not(.full-width-caption) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  padding: 4px 8px 4px 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141414;
  border: #262626 1px solid;
  border-radius: 51px;
}
.swiper .solo-card .caption .full-width-caption,
.swiper .lg-card .caption .full-width-caption,
.swiper-jumbo .solo-card .caption .full-width-caption,
.swiper-jumbo .lg-card .caption .full-width-caption,
.swiperFour .solo-card .caption .full-width-caption,
.swiperFour .lg-card .caption .full-width-caption {
  text-align: center;
  margin: 0 auto;
  background-color: #141414;
  border: #262626 1px solid;
  border-radius: 51px;
  min-width: 167px;
  padding: 6px 14px;
}
.swiper .solo-card .image-wrapper,
.swiper .lg-card .image-wrapper,
.swiper-jumbo .solo-card .image-wrapper,
.swiper-jumbo .lg-card .image-wrapper,
.swiperFour .solo-card .image-wrapper,
.swiperFour .lg-card .image-wrapper {
  overflow: hidden;
  border-radius: 10px;
}
.swiper .solo-card .image-wrapper img,
.swiper .lg-card .image-wrapper img,
.swiper-jumbo .solo-card .image-wrapper img,
.swiper-jumbo .lg-card .image-wrapper img,
.swiperFour .solo-card .image-wrapper img,
.swiperFour .lg-card .image-wrapper img {
  border-radius: 10px;
  width: 100%;
}
.swiper .card,
.swiper-jumbo .card,
.swiperFour .card {
  height: 100%;
  max-width: 295px;
  padding: 20px;
  background-color: #1A1A1A;
  border-radius: 12px;
  border: 1px solid #262626;
}
.swiper .card a,
.swiper-jumbo .card a,
.swiperFour .card a {
  text-decoration: none;
  color: inherit;
}
.swiper .card .caption,
.swiper-jumbo .card .caption,
.swiperFour .card .caption {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
}
.swiper .card .container,
.swiper-jumbo .card .container,
.swiperFour .card .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  overflow: hidden;
  aspect-ratio: 19/20;
}
.swiper .card .container::after,
.swiper-jumbo .card .container::after,
.swiperFour .card .container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), color-stop(101.79%, #1A1A1A));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.swiper .card .container .item,
.swiper-jumbo .card .container .item,
.swiperFour .card .container .item {
  width: calc(50% - 2.5px);
  aspect-ratio: 23/25;
}
.swiper .card .container .item img,
.swiper-jumbo .card .container .item img,
.swiperFour .card .container .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 6px;
}
.swiper .card-tag .container,
.swiper-jumbo .card-tag .container,
.swiperFour .card-tag .container {
  aspect-ratio: 12/10;
}

.swiper-jumbotron {
  padding-top: 122px;
  margin-bottom: 80px;
}
.swiper-jumbotron .swiper-jumbo {
  position: relative;
  overflow-x: hidden;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide {
  position: relative;
  aspect-ratio: 17/25;
  max-height: 80vh;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide p {
  display: none;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide > *:not(.image-wrapper) {
  max-width: 75%;
  margin: 0 auto;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide .container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide .container .btn {
  width: 100%;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  z-index: -2;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(38, 38, 38)), to(rgba(38, 38, 38, 0)));
  background: linear-gradient(180deg, rgb(38, 38, 38) 0%, rgba(38, 38, 38, 0) 100%);
}
.swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(1) .image-wrapper {
  background-image: url(../images/posters/swiper-1.jpg);
  background-position: center;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(2) .image-wrapper {
  background-image: url(../images/posters/swiper-2.jpg);
  background-position: top;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(3) .image-wrapper {
  background-image: url(../images/posters/swiper-3.jpg);
  background-position: top 0 right 0;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(4) .image-wrapper {
  background-image: url(../images/posters/swiper-4.jpg);
  background-position: center;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide .image-wrapper {
  position: absolute;
  overflow: hidden;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: calc(100% - 2px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 300%;
  border-radius: 12px;
}
.swiper-jumbotron .swiper-jumbo .swiper-slide .image-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0)), to(#141414));
  background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
  border-radius: 12px;
}
.swiper-jumbotron .swiper-jumbo .controls {
  position: absolute;
  display: none;
  bottom: 100px;
  left: 50px;
  right: 50px;
  z-index: 10;
}
.swiper-jumbotron .swiper-jumbo .controls .container-pagination {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.swiper-jumbotron .swiper-jumbo .controls .swiper-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.swiper-jumbotron .swiper-jumbo .controls .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.card .tag {
  margin-bottom: 4px;
}

.tag {
  text-transform: capitalize;
  color: #fff;
  background-color: #e50000;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
}

.tag-section {
  position: relative;
  margin-bottom: 80px;
  border-radius: 12px;
}
.tag-section .swiper .swiper-top,
.tag-section .swiperFour .swiper-top {
  margin-bottom: 20px;
}
.tag-section > .tag {
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 24px;
  display: none;
}
.tag-section .swiper-section:not(:last-child) {
  margin-bottom: 50px;
}

@media screen and (min-width: 769px) {
  .swiper .swiper-scrollbar,
  .swiperFour .swiper-scrollbar {
    display: none;
  }
  .swiper-section .content-wrapper {
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper .solo-card,
  .swiperFour .solo-card {
    padding: 16px;
  }
  .swiper .solo-card .caption,
  .swiperFour .solo-card .caption {
    font-size: 14px;
    margin-top: 16px;
  }
  .swiper .solo-card .image-wrapper,
  .swiperFour .solo-card .image-wrapper {
    border-radius: 12px;
  }
  .swiper .solo-card .image-wrapper img,
  .swiperFour .solo-card .image-wrapper img {
    border-radius: 12px;
  }
  .swiper .card,
  .swiperFour .card {
    padding: 24px;
  }
  .swiper .card .container .item img,
  .swiperFour .card .container .item img {
    border-radius: 10px;
  }
  .swiper .swiper-top,
  .swiperFour .swiper-top {
    min-height: 100px;
    padding-right: 260px;
    margin-bottom: 60px;
  }
  .swiper .swiper-top .controls,
  .swiperFour .swiper-top .controls {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .swiper-jumbotron {
    padding-top: 140px;
    margin-bottom: 100px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide {
    max-height: none;
    aspect-ratio: 10/5.3;
    z-index: 1;
    padding-bottom: 104px;
    gap: 2px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide p {
    display: block;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide .container {
    gap: 8px;
    margin-top: 22px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide .container .btn {
    width: auto;
    margin-right: 12px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(1) .image-wrapper {
    background-position: center;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(2) .image-wrapper {
    background-position: top;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(3) .image-wrapper {
    background-position: top;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide:nth-child(4) .image-wrapper {
    background-position: 0% 30%;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide .image-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper-jumbotron .swiper-jumbo .controls {
    display: block;
  }
  .tag-section {
    margin-bottom: 120px;
    border: 1px solid #262626;
  }
  .tag-section.content-wrapper {
    padding: 40px;
  }
  .tag-section > .tag {
    display: block;
  }
  .tag-section .swiper .swiper-top,
  .tag-section .swiperFour .swiper-top {
    margin-bottom: 40px;
  }
  .tag-section .swiper-section:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1900px) {
  .swiper-jumbotron {
    padding-top: 170px;
  }
  .sm-btn {
    padding: 14px;
    width: 56px;
    height: 56px;
  }
  .sm-btn::after {
    width: 28px;
    height: 28px;
  }
  .add-btn::after {
    background-position: -10px -10px;
  }
  .like-btn::after {
    background-position: -59px -10px;
  }
  .sound-btn::after {
    background-position: -59px -58px;
  }
  .swiper .solo-card,
  .swiperFour .solo-card {
    padding: 20px;
  }
  .swiper .solo-card .caption,
  .swiperFour .solo-card .caption {
    font-size: 16px;
    margin-top: 20px;
  }
  .swiper .solo-card .caption > div:not(.full-width-caption),
  .swiperFour .solo-card .caption > div:not(.full-width-caption) {
    gap: 2px;
    padding: 6px 10px 6px 6px;
  }
  .swiper .solo-card .caption .full-width-caption,
  .swiperFour .solo-card .caption .full-width-caption {
    width: 100%;
    padding: 6px;
  }
  .swiper .card,
  .swiperFour .card {
    padding: 24px;
  }
  .swiper .swiper-top,
  .swiperFour .swiper-top {
    margin-bottom: 80px;
  }
  .swiper .controls .swiper-button-prev::after,
  .swiperFour .controls .swiper-button-prev::after {
    background-position: -108px -10px;
  }
  .swiper .controls .swiper-button-next::after,
  .swiperFour .controls .swiper-button-next::after {
    background-position: -108px -58px;
  }
  .swiper-jumbotron {
    margin-bottom: 180px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide {
    padding-bottom: 126px;
    gap: 4px;
  }
  .swiper-jumbotron .swiper-jumbo .swiper-slide .container {
    margin-top: 26px;
  }
  .tag {
    padding: 10px;
    font-size: 16px;
  }
  .tag-section {
    margin-bottom: 150px;
  }
  .tag-section.content-wrapper {
    padding: 50px;
  }
  .tag-section > .tag {
    padding: 8px 20px;
    left: 40px;
  }
  .tag-section .swiper .swiper-top,
  .tag-section .swiperFour .swiper-top {
    margin-bottom: 50px;
  }
  .tag-section .swiper-section:not(:last-child) {
    margin-bottom: 100px;
  }
}
.devices .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.devices .card {
  padding: 24px;
  background: linear-gradient(221.52deg, rgba(229, 0, 0, 0.5) -208.03%, rgba(229, 0, 0, 0) 41.32%), #0F0F0F;
  width: 100%;
  max-width: 100%;
  min-width: 250px;
  border-radius: 12px;
  border: 1px solid #262626;
}
.devices .card .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.device-icon {
  padding: 10px;
  border-radius: 8px;
  background-color: #141414;
  border: 1px solid #1F1F1F;
}
.device-icon .icon-sm {
  width: 24px;
  height: 24px;
  background: url("../images/devices-sprite.png");
}
.device-icon .icon-md {
  width: 30px;
  height: 30px;
  background: url("../images/devices-sprite.png");
}
.device-icon .icon-lg {
  width: 40px;
  height: 40px;
  background: url("../images/devices-sprite.png");
}

#phone-icon .icon-sm {
  background-position: -98px -180px;
}
#phone-icon .icon-md {
  background-position: -110px -130px;
}
#phone-icon .icon-lg {
  background-position: -132px -70px;
}

#tablet-icon .icon-sm {
  background-position: -142px -180px;
}
#tablet-icon .icon-md {
  background-position: -192px -10px;
}
#tablet-icon .icon-lg {
  background-position: -71px -10px;
}

#tv-icon .icon-sm {
  background-position: -186px -180px;
}
#tv-icon .icon-md {
  background-position: -192px -60px;
}
#tv-icon .icon-lg {
  background-position: -10px -70px;
}

#laptop-icon .icon-sm {
  background-position: -54px -180px;
}
#laptop-icon .icon-md {
  background-position: -60px -130px;
}
#laptop-icon .icon-lg {
  background-position: -132px -10px;
}

#console-icon .icon-sm {
  background-position: -10px -180px;
}
#console-icon .icon-md {
  background-position: -10px -130px;
}
#console-icon .icon-lg {
  background-position: -10px -10px;
}

#vr-icon .icon-sm {
  background-position: -242px -10px;
}
#vr-icon .icon-md {
  background-position: -192px -110px;
}
#vr-icon .icon-lg {
  background-position: -71px -70px;
}

@media screen and (min-width: 769px) {
  .devices .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .devices .container .card {
    max-width: calc(33% - 20px);
  }
}
@media screen and (min-width: 1024px) {
  .devices .card {
    padding: 40px;
  }
  .devices .card .caption {
    gap: 12px;
    margin-bottom: 24px;
  }
  .device-icon {
    padding: 12px;
  }
}
@media screen and (min-width: 1900px) {
  .devices .card {
    padding: 50px;
  }
  .devices .card .caption {
    gap: 16px;
    margin-bottom: 30px;
  }
  .device-icon {
    padding: 16px;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.accordion-section .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.accordion-section .text-content .btn {
  margin-top: 20px;
}
.accordion-section .container {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  color: #fff;
  counter-reset: item;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  column-gap: 40px;
}
.accordion-section .container .accordion-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 40px 10px;
  cursor: pointer;
}
.accordion-section .container .accordion-item::before {
  position: absolute;
  display: inline-block;
  top: 44px;
  left: 10px;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  background-color: #1F1F1F;
  border: 1px solid #262626;
  border-radius: 10px;
}
.accordion-section .container .accordion-item::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(229, 0, 0, 0)), color-stop(17%, rgb(229, 0, 0)), to(rgba(229, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgb(229, 0, 0) 17%, rgba(229, 0, 0, 0) 100%);
}
.accordion-section .container .accordion-item .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 44px;
  overflow-x: visible;
}
.accordion-section .container .accordion-item .question h3 {
  padding-left: 62px;
}
.accordion-section .container .accordion-item .question svg {
  min-width: 24px;
}
.accordion-section .container .accordion-item:not(.active) .question {
  min-height: 44px;
}
.accordion-section .container .accordion-item .answer p {
  padding-top: 20px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.accordion-item.active .answer {
  max-height: 300px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .accordion-section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .accordion-section .container .accordion-item {
    margin: 0 auto;
    position: relative;
    max-width: 750px;
    padding: 24px 24px 24px 90px;
  }
  .accordion-section .container .accordion-item::before {
    top: 24px;
    left: 24px;
    padding: 16px;
  }
  .accordion-section .container .accordion-item .question {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    min-height: 30px;
  }
  .accordion-section .container .accordion-item .question h3 {
    padding-left: 0;
  }
  .accordion-section .container .accordion-item:not(.active) .question {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    min-height: 54px;
  }
  .accordion-section .container .accordion-item .answer p {
    padding-top: 14px;
  }
}
@media screen and (min-width: 769px) {
  .accordion-section .container .accordion-item .question h3 {
    max-width: none;
  }
}
@media screen and (min-width: 1541px) {
  .accordion-section .container {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
@media screen and (min-width: 1900px) {
  .accordion-section .container .accordion-item {
    margin: 0 auto;
    position: relative;
    max-width: 750px;
    padding: 34px 34px 34px 116px;
  }
  .accordion-section .container .accordion-item::before {
    top: 34px;
    left: 34px;
    padding: 20px;
    font-size: 20px;
  }
  .accordion-section .container .accordion-item:not(.active) .question {
    min-height: 67px;
  }
  .accordion-section .container .accordion-item .answer p {
    padding-top: 20px;
  }
}
.toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.toggle .toggle-btn {
  border-radius: 10px;
  padding: 14px 24px;
  line-height: 150%;
  color: #999;
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle .toggle-btn.active {
  color: #fff;
  background-color: #1F1F1F;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
.toggle .toggle-btn:not(.active):hover {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.big-num {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 73%;
}

.subscription .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.subscription .text-content .toggle {
  margin-top: 20px;
}
.subscription .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.subscription .card {
  width: 100%;
  max-width: 650px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  border-radius: 10px;
  background-color: #1A1A1A;
  border: 1px solid #262626;
}
.subscription .card .text-content {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.subscription .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 12px;
}
.subscription .controls .btn {
  width: calc(50% - 6px);
  max-width: 250px;
}

.banner {
  padding-left: 16px;
  padding-right: 16px;
}
.banner .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 50px 30px;
  border-radius: 12px;
  background: #0F0F0F url(../images/banner-bg.png);
  background-position: center;
  background-size: cover;
  border: 1px solid #262626;
}
.banner .content-wrapper .text-content {
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .banner .content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner .content-wrapper .text-content {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .subscription .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .subscription .card {
    width: calc(33% - 27px);
    padding: 40px;
    gap: 40px;
  }
  .banner .content-wrapper {
    padding: 80px 60px;
  }
}
@media screen and (min-width: 1900px) {
  .subscription .container {
    gap: 30px;
  }
  .subscription .card {
    padding: 50px;
    gap: 50px;
    max-width: calc(33% - 20px);
  }
  .controls {
    gap: 20px;
  }
  .controls .btn {
    width: calc(50% - 10px);
  }
  .banner {
    padding: 0;
  }
  .banner .content-wrapper {
    padding: 80px 60px;
  }
}
.form-section {
  padding-top: 140px;
}
.form-section .content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 40px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  grid-template-areas: "caption" "decor" "form";
}
.form-section .content-wrapper .text-content {
  grid-area: caption;
}
.form-section .content-wrapper .form {
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 20px;
  background-color: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 12px;
}
.form-section .content-wrapper .form .btn {
  width: 100%;
}
.form-section .content-wrapper .form-decor {
  grid-area: decor;
  background-image: url(../images/form-decor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 6px solid #262626;
  border-radius: 12px;
  height: 344px;
}

input {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
}
input:not([type=submit]) {
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #262626;
  background-color: #141414;
  color: #999;
}
input[type=submit] {
  font-weight: 400;
}
input[type=checkbox] {
  display: none;
}

textarea {
  outline: none;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #262626;
  background-color: #141414;
  color: #999;
  font-family: "Manrope", "Poppins", sans-serif;
  font-size: 18px;
  resize: none;
}

label {
  line-height: 150%;
  font-size: 16px;
}
label:not([for=terms]) {
  font-weight: 500;
  color: #fff;
}
label[for=terms] {
  color: #999;
  position: relative;
  margin-left: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label[for=terms]::before {
  content: " ";
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -38px;
  width: 28px;
  height: 28px;
  border: 1px solid #262626;
  border-radius: 4px;
  line-height: 28px;
  text-align: center;
  font-size: 40px;
}

input[type=checkbox]:checked ~ label[for=terms]::before {
  content: "×";
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.input-group:not(.terms) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.input-group:not(.message) {
  width: 100%;
}
.input-group.message {
  width: 100%;
}

.flag {
  background: url(../images/flags.png);
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 2px;
}

.flag-uk {
  background-position: -80px 0;
}

.flag-ua {
  background-position: -80px -30px;
}

.flag-fr {
  background-position: 0 -30px;
}

.flag-pl {
  background-position: -40px -30px;
}

.flag-us {
  background-position: 0 -60px;
}

.flag-ca {
  background-position: 0 0;
}

.flag-cz {
  background-position: -40px 0;
}

.select-box {
  position: relative;
}
.select-box input {
  width: 100%;
}
.select-box .options {
  position: absolute;
  top: 75px;
  width: 100%;
  background-color: #141414;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.select-box .options.active {
  visibility: visible;
  opacity: 1;
}
.select-box ol {
  list-style: none;
  max-height: 225px;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
  border: 1px solid #262626;
  border-top: none;
}
.select-box ol::-webkit-scrollbar {
  width: 12px;
}
.select-box ol::-webkit-scrollbar-thumb {
  width: 8px;
  height: 20px;
  background-color: #262626;
  border-radius: 4px;
}
.select-box ol li {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.select-box ol li:hover {
  background-color: #262626;
}
.select-box ol li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #999;
}

.selected-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.selected-option .selected-flag {
  position: relative;
  padding: 12px 42px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #262626;
  background-color: #141414;
  cursor: pointer;
}
.selected-option .selected-flag::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/icons-sprite.png);
  background-position: -10px -151px;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1324px) {
  .form-section {
    padding-top: 200px;
  }
  .form-section .content-wrapper {
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: auto 1fr;
    row-gap: 40px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    grid-template-areas: "caption form" "decor form";
  }
  .form-section .content-wrapper .form {
    padding: 40px;
    row-gap: 40px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .form-section .content-wrapper .form .btn {
    width: auto;
  }
  .form-section .content-wrapper .form-decor {
    height: 100%;
  }
  .input-group:not(.message) {
    width: calc(50% - 25px);
  }
}
@media screen and (min-width: 1541px) {
  .selected-option {
    gap: 16px;
  }
  .selected-option .selected-flag::after {
    width: 24px;
    height: 24px;
    background-position: -10px -106px;
    right: 12px;
  }
  label {
    font-size: 18px;
  }
}
@media screen and (min-width: 1900px) {
  .form-section {
    padding-top: 235px;
  }
  .form-section .content-wrapper {
    row-gap: 50px;
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
  .form-section .content-wrapper .form {
    padding: 50px;
    gap: 50px;
  }
  .input-group {
    gap: 16px;
  }
}
footer {
  background-color: #0F0F0F;
}
footer h5 {
  color: #fff;
}
footer li, footer a:not(.btn-link) {
  color: #999;
}
footer a {
  text-decoration: none;
}
footer .content-wrapper:not(nav) {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 50px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .btn-link {
  display: inline-block;
  background-color: #1A1A1A;
  border: #262626 1px solid;
  border-radius: 6px;
  color: #fff;
  padding: 12px;
}
footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 50px;
}
footer .top-footer .col {
  width: 50%;
}
footer .top-footer .col h5 {
  margin-bottom: 16px;
}
footer .top-footer .col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
footer .top-footer .col .container {
  gap: 10px;
}
footer .bottom-footer {
  padding-top: 20px;
  border-top: 1px solid #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .bottom-footer .container a {
  display: inline-block;
}
footer .bottom-footer .container a:not(:nth-last-child(1)) {
  border-right: 1px solid #262626;
}
footer .bottom-footer .container a:nth-child(1) {
  padding-right: 16px;
}
footer .bottom-footer .container a:not(:nth-child(1)) {
  padding: 0 16px;
}

.bottom-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1024px) {
  footer .content-wrapper:not(nav) {
    padding-bottom: 40px;
    padding-top: 80px;
  }
  footer .top-footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 80px;
  }
  footer .top-footer .col {
    width: calc(20% - 17px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .top-footer .col h5 {
    margin-bottom: 20px;
  }
  footer .top-footer .col ul {
    gap: 10px;
  }
  footer .bottom-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1541px) {
  footer .content-wrapper:not(nav) {
    padding-bottom: 50px;
    padding-top: 100px;
  }
  footer .btn-link {
    padding: 14px;
  }
  footer .top-footer {
    padding-bottom: 100px;
  }
  footer .top-footer .col {
    width: calc(20% - 25px);
  }
  footer .top-footer .col h5 {
    margin-bottom: 24px;
  }
  footer .top-footer .col ul {
    gap: 14px;
  }
  footer .top-footer .col .container {
    gap: 14px;
  }
  footer .bottom-footer {
    padding-top: 24px;
  }
  footer .bottom-footer .container a:nth-child(1) {
    padding-right: 20px;
  }
  footer .bottom-footer .container a:not(:nth-child(1)) {
    padding: 0 20px;
  }
}
.vh {
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
.toggle {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", "Poppins", sans-serif;
  background-color: #141414;
}

h1 {
  font-weight: bold;
  line-height: 150%;
  color: #fff;
}
h1.h1-48, h1.h1-58 {
  font-size: 28px;
}
h1.h1-38 {
  font-size: 24px;
}
h1.h1-58 {
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #fff;
  line-height: 150%;
  font-weight: bold;
}

h3 {
  color: #fff;
  font-weight: 600;
  line-height: 150%;
  font-size: 18px;
}

h4 {
  line-height: 150%;
  font-size: 14px;
}

h5 {
  line-height: 150%;
  font-size: 16px;
}

p {
  line-height: 150%;
  color: #999;
}

.content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrapper:not(nav) {
  margin-bottom: 50px;
}

.font-size {
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 14px 24px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 150%;
}
.btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-primary {
  background-color: #e50000;
  color: #fff;
  font-weight: 600;
}

.btn-secondary {
  background-color: #0F0F0F;
  border: 1px solid #262626;
  color: #fff;
}

.btn-icon {
  padding-left: 50px;
}
.btn-icon > span {
  position: relative;
}
.btn-icon > span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url(../images/icons-sprite.png) -10px -58px;
  position: absolute;
  left: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.text-content p {
  margin-top: 8px;
}
.text-content:not(:has(h1)) {
  margin-bottom: 40px;
}

.md-screen {
  display: none;
}

.jumbotron {
  position: relative;
  padding-top: 400px;
  z-index: 1;
  min-height: 640px;
  background: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 100px;
}
.jumbotron::after {
  content: "";
  background: url(../images/abstract-sm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: block;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 200px;
  height: 200px;
}
.jumbotron .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.jumbotron .content-wrapper .btn {
  margin-top: 30px;
}
.jumbotron .content-wrapper p {
  text-align: center;
  width: 100%;
}

.icon-md {
  display: none;
}

.icon-lg {
  display: none;
}

@media screen and (min-width: 769px) {
  .content-wrapper:not(nav) {
    margin-bottom: 120px;
  }
  .jumbotron {
    padding-top: 550px;
    margin-bottom: 150px;
  }
  .jumbotron::after {
    background: url(../images/abstract-md.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 200px;
    width: 300px;
    height: 300px;
  }
  .jumbotron .content-wrapper {
    padding-bottom: 40px;
  }
  .jumbotron .content-wrapper .btn {
    margin-top: 40px;
  }
  .jumbotron .content-wrapper p {
    max-width: 1140px;
  }
  h1.h1-38 {
    font-size: 30px;
  }
  h1.h1-48 {
    font-size: 38px;
  }
  h1.h1-58 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h4 {
    font-size: 18px;
  }
  .md-screen {
    display: inline;
  }
  .icon-md {
    display: block;
  }
  .icon-sm {
    display: none;
  }
  .text-content p {
    margin-top: 10px;
  }
  .text-content:not(:has(h1)) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .full-height {
    padding-bottom: 415px;
  }
}
@media screen and (min-width: 1541px) {
  .content-wrapper {
    max-width: 1600px;
  }
  .content-wrapper:not(nav) {
    margin-bottom: 150px;
  }
  .font-size {
    font-size: 1.8rem;
  }
  .text-content p {
    margin-top: 14px;
  }
  .text-content:not(:has(h1)) {
    margin-bottom: 80px;
  }
  h1.h1-38 {
    font-size: 38px;
  }
  h1.h1-48 {
    font-size: 48px;
  }
  h1.h1-58 {
    font-size: 58px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    max-width: 1096px;
  }
  .btn {
    padding: 18px 24px;
  }
  .btn-icon {
    padding-left: 56px;
  }
  .full-height {
    padding-bottom: 500px;
  }
}
@media screen and (min-width: 1900px) {
  .jumbotron {
    padding-top: 730px;
    margin-bottom: 200px;
  }
  .jumbotron::after {
    width: 470px;
    height: 470px;
    background: url(../images/abstract.png);
  }
  .jumbotron .content-wrapper {
    padding-bottom: 50px;
  }
  .jumbotron .content-wrapper .btn {
    margin-top: 50px;
  }
  .jumbotron .content-wrapper p {
    text-align: center;
    width: 100%;
    max-width: 1096px;
  }
  .icon-lg {
    display: block;
  }
  .icon-md {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */