@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
header.scrolled {
  background-color: #141414;
}

.nav {
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 16px;
}
.nav.openSearch .search {
  opacity: 1;
  pointer-events: all;
}
.nav.openSearch .nav-links {
  opacity: 0;
}
.nav .nav-links {
  position: absolute;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  right: 16px;
  top: 80px;
  row-gap: 20px;
  list-style: none;
  background-color: #0F0F0F;
  padding: 10px;
  border-radius: 12px;
  border: 4px solid #1F1F1F;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  z-index: 100;
}
.nav .nav-links.nav-active {
  opacity: 1;
}
.nav .nav-links.nav-active a {
  pointer-events: all;
}
.nav .nav-links li {
  width: 100%;
}
.nav .nav-links a {
  text-decoration: none;
  color: #999;
  display: inline-block;
  padding: 20px 20px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.nav .nav-links a.active {
  background-color: #1A1A1A;
  color: #fff;
}
.nav .search {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 95%;
  max-width: 1000px;
  height: 74px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F0F0F;
  border: 4px solid #1F1F1F;
  padding: 10px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.nav .search input {
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  color: #fff;
  padding: 14px 24px 14px 40px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.nav .search .icon {
  position: absolute;
  left: 15px;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav .logo {
  width: 115px;
  max-height: 60px;
}
.nav .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}
.nav .icon {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav .burger {
  background-color: #1A1A1A;
  border: #262626 solid 3px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .icon-md {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav .controls {
    width: 165px;
  }
  .nav .logo {
    width: 165px;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    top: 0;
  }
  .nav .nav-center {
    position: relative;
  }
  .nav .nav-links {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
    max-width: 1000px;
    width: auto;
    opacity: 1;
  }
  .nav .nav-links li {
    width: auto;
  }
  .nav .nav-links li a {
    padding: 12px 20px;
    width: auto;
    pointer-events: all;
  }
  .nav .search {
    position: absolute;
    right: 50%;
    top: auto;
    -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
    width: 100%;
    max-width: 650px;
  }
  .nav .burger {
    display: none;
  }
}
@media screen and (min-width: 1541px) {
  .nav {
    padding: 22px 16px;
  }
  .nav .logo {
    width: 200px;
  }
  .nav .controls {
    width: 200px;
  }
  .nav .nav-links li a {
    padding: 14px 24px;
  }
  .nav .icon-md {
    display: block;
  }
  .nav .icon-sm {
    display: none;
  }
}
:root {
  --swiper-theme-color: #e50000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: auto;
  --swiper-navigation-top-offset: 0;
  --swiper-navigation-sides-offset: 0;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-inactive-color: #333;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1.5px;
  --swiper-scrollbar-border-radius: 20px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: auto;
  --swiper-scrollbar-sides-offset: 155px;
  --swiper-scrollbar-bg-color: #333;
  --swiper-scrollbar-drag-bg-color: #e50000;
  --swiper-scrollbar-size: 5px;
}

.swiper-section {
  margin-bottom: 50px;
}
.swiper-section .content-wrapper {
  padding-right: 0;
}

.swiper .swiper-wrapper {
  margin-bottom: 30px;
}
.swiper .swiper-top {
  width: 100%;
  min-height: 100px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.swiper .swiper-top .text-content {
  padding-right: 16px;
}
.swiper .swiper-top .controls {
  position: absolute;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 16px;
  background-color: #0F0F0F;
  border: 1px solid #1F1F1F;
  border-radius: 12px;
}
.swiper .swiper-top .controls .swiper-button-prev {
  position: relative;
  padding: 10px;
  width: 44px;
  height: 44px;
  background-color: #1A1A1A;
  border: 1px solid #1F1F1F;
  border-radius: 8px;
  margin-top: 0;
}
.swiper .swiper-top .controls .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  display: block;
  background: url("../images/icons-sprite.png") -58px -58px;
}
.swiper .swiper-top .controls .swiper-button-next {
  margin-top: 0;
  position: relative;
  padding: 10px;
  width: 44px;
  height: 44px;
  background-color: #1A1A1A;
  border: 1px solid #1F1F1F;
  border-radius: 8px;
}
.swiper .swiper-top .controls .swiper-button-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  display: block;
  background: url("../images/icons-sprite.png");
  background-position: -107px -10px;
}
.swiper .swiper-top .controls .container-pagination {
  width: 83px;
}
.swiper .swiper-top .controls .swiper-pagination {
  position: relative;
  width: 100% !important;
}
.swiper .swiper-top .controls .swiper-pagination .swiper-pagination-bullet {
  border-radius: 100px;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.swiper .swiper-top .controls .swiper-pagination .swiper-pagination-bullet-active {
  width: 23px;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.swiper .card {
  max-width: 295px;
  padding: 30px;
  background-color: #1A1A1A;
  border-radius: 12px;
  border: 1px solid #262626;
}
.swiper .card a {
  text-decoration: none;
  color: inherit;
}
.swiper .card .caption {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
}
.swiper .card .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: hidden;
}
.swiper .card .container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), color-stop(101.79%, #1A1A1A));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.swiper .card .container .item {
  max-width: 115px;
  border-radius: 10px;
}
.swiper .card .container .item img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .swiper .swiper-scrollbar {
    display: none;
  }
  .swiper-section {
    margin-bottom: 120px;
  }
  .swiper-section .content-wrapper {
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper .swiper-top {
    padding-right: 260px;
  }
  .swiper .swiper-top .controls {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (min-width: 1541px) {
  .swiper-section {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1900px) {
  .swiper .swiper-top .controls .swiper-button-prev {
    padding: 14px;
    width: 56px;
    height: 56px;
  }
  .swiper .swiper-top .controls .swiper-button-prev::after {
    width: 28px;
    height: 28px;
    display: block;
    background: url("../images/icons-sprite.png") -59px -10px;
  }
  .swiper .swiper-top .controls .swiper-button-next {
    padding: 14px;
    width: 56px;
    height: 56px;
  }
  .swiper .swiper-top .controls .swiper-button-next::after {
    width: 28px;
    height: 28px;
    display: block;
    background: url("../images/icons-sprite.png");
    background-position: -10px -58px;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Manrope", "Poppins", sans-serif;
  background-color: #141414;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 150%;
  color: #fff;
}

h2 {
  font-size: 20px;
  color: #fff;
  line-height: 150%;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  line-height: 150%;
  font-size: 14px;
}

p {
  line-height: 150%;
  color: #999;
}

.content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.font-size {
  font-size: 1.4rem;
}

.btn {
  border-radius: 8px;
  padding: 14px 24px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.btn:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.btn-primary {
  background-color: #e50000;
  color: #fff;
  line-height: 150%;
  font-weight: 500;
}

.btn-icon {
  padding-left: 50px;
}
.btn-icon > span {
  position: relative;
}
.btn-icon > span::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url(../images/icons-sprite.png) -10px -10px;
  position: absolute;
  left: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.text-content p {
  margin-top: 10px;
}

.md-screen {
  display: none;
}

.jumbotron {
  position: relative;
  padding-top: 400px;
  z-index: 1;
  min-height: 640px;
  background: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 100px;
}
.jumbotron::after {
  content: "";
  background: url(../images/abstract-sm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  display: block;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 200px;
  height: 200px;
}
.jumbotron .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.jumbotron .content-wrapper .btn {
  margin-top: 30px;
}
.jumbotron .content-wrapper p {
  text-align: center;
  width: 100%;
}

.icon-md {
  display: none;
}

.icon-lg {
  display: none;
}

@media screen and (min-width: 769px) {
  .jumbotron {
    padding-top: 550px;
    margin-bottom: 150px;
  }
  .jumbotron::after {
    background: url(../images/abstract-md.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 200px;
    width: 300px;
    height: 300px;
  }
  .jumbotron .content-wrapper {
    padding-bottom: 40px;
  }
  .jumbotron .content-wrapper .btn {
    margin-top: 40px;
  }
  .jumbotron .content-wrapper p {
    max-width: 1140px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .md-screen {
    display: inline;
  }
  .icon-md {
    display: block;
  }
  .icon-sm {
    display: none;
  }
}
@media screen and (min-width: 1541px) {
  .content-wrapper {
    max-width: 1600px;
  }
  .font-size {
    font-size: 1.8rem;
  }
  .text-content p {
    margin-top: 14px;
  }
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    max-width: 1096px;
  }
  .btn {
    padding: 18px 24px;
  }
  .btn-icon {
    padding-left: 56px;
  }
}
@media screen and (min-width: 1900px) {
  .jumbotron {
    padding-top: 730px;
    margin-bottom: 200px;
  }
  .jumbotron::after {
    width: 470px;
    height: 470px;
    background: url(../images/abstract.png);
  }
  .jumbotron .content-wrapper {
    padding-bottom: 50px;
  }
  .jumbotron .content-wrapper .btn {
    margin-top: 50px;
  }
  .jumbotron .content-wrapper p {
    text-align: center;
    width: 100%;
    max-width: 1096px;
  }
  .icon-lg {
    display: block;
  }
  .icon-md {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */